.main {
    display: flex;
    justify-content: center;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    box-shadow: 0px 10px 15px 1px grey;
}

.carousel-caption {
    display: flex;
    justify-content: center;
    top: 60%;
    transform: translateY(-50%);
    color: black;
}
.cIItem {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#img {
    height: 80vh;
}

.show {

}
.carouselItem {
    text-align: center;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(102, 102, 102, 0.6);
}
.question {
    border: none;
    background-color: white;
    padding: .5vh;
    margin: 1.5vh 0 1.5vh 0;
    font-size: 2.5vh;
}
.hide {
    display: none;
}
.theMap{ 
    margin: 7vh 0 7vh 0;
    width: 60%; 
    height: 55vh;
} 

.mapDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeText {
    margin-top: 10vh;
    font-size: 2rem;
    width: 75%;
    letter-spacing: 1.52px;
} 

.homeText p {
    font-size: 1.5rem;
}
.textCont3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 60%;
    padding-top: 3vh;
}
@media screen and (max-width: 980px){
    .homeText {
        font-size: 1.5rem;
        width: 85%
    }
    .homeText p {
        font-size: 1rem;
    }
    #img {
        height: 40vh;
    }
    .cIItem {
        height: 40vh;
    }
    .mainContainer {
        width: 100%;
    }
    .carousel-caption {
        display: flex;
        justify-content: center;
        top: 55%;
        transform: translateY(-50%);
        color: black;
    }
}

@media screen and (max-height: 400px){
    .cIItem {
        height: 90vh;
        overflow: show;
    }
    #img {
        height: 90vh;
    }
}
