* {
    padding: 0;
    margin: 0;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.subDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 0;
    width: 30%;
}

.items {
    font-size: 80%;
}

.paragraph {
    margin: 0px;
    
}

.form {
    align-items: center;
    justify-items: center;
    margin: 21.45vh;
}

.button, .password {
    display: block;
    padding: 2vh;
}